#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	dh_auto_build -- platform=odroid-n2 GIT_VERSION=$(GIT_VERSION)

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
