#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	mkdir -p es-theme-chicuelo
	cp -R $(shell ls -A -I debian -I es-theme-chicuelo) es-theme-chicuelo
	dh_install --

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)

