Source: es-theme-epicnoir
Maintainer: German Ulrich <gerulrich@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 11)

Package: es-theme-epicnoir
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, emulationstation
Description: Theme epicnoir for emulationstation
 Theme epicnoir for emulationstation
