#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
ARCH_FOLDER := arm64
ifeq ($(DEB_HOST_ARCH),armhf)
	ARCH_FOLDER = eabihf
endif

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:
	mkdir -p debian/libmali/usr/lib/$(DEB_HOST_MULTIARCH)
	cp lib/$(ARCH_FOLDER)/gondul/r12p0/fbdev/libMali.so debian/libmali/usr/lib/$(DEB_HOST_MULTIARCH)/libMali.so
	
override_dh_link:
	dh_link usr/lib/$(DEB_HOST_MULTIARCH)/libMali.so usr/lib/$(DEB_HOST_MULTIARCH)/libGLESv2.so.2.0 \
		usr/lib/$(DEB_HOST_MULTIARCH)/libGLESv2.so.2.0 usr/lib/$(DEB_HOST_MULTIARCH)/libGLESv2.so.2 \
		usr/lib/$(DEB_HOST_MULTIARCH)/libGLESv2.so.2 usr/lib/$(DEB_HOST_MULTIARCH)/libGLESv2.so \
		usr/lib/$(DEB_HOST_MULTIARCH)/libMali.so usr/lib/$(DEB_HOST_MULTIARCH)/libEGL.so.1.4 \
		usr/lib/$(DEB_HOST_MULTIARCH)/libEGL.so.1.4 usr/lib/$(DEB_HOST_MULTIARCH)/libEGL.so.1 \
		usr/lib/$(DEB_HOST_MULTIARCH)/libEGL.so.1 usr/lib/$(DEB_HOST_MULTIARCH)/libEGL.so

override_dh_auto_clean:

