Source: libcec
Maintainer: German Ulrich <gerulrich@@gmail.com>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9),
               g++ (>= 4:7),
               pkg-config,
               libudev-dev [linux-any],
               libp8-platform-dev,
               python-dev,
               dh-python,
               cmake (>= 2.8.9),
               swig,
               libxrandr-dev,
               x11proto-core-dev,
               libncurses5-dev
Standards-Version: 3.9.8
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libcec.git
Vcs-Git: https://anonscm.debian.org/git/collab-maint/libcec.git
Homepage: http://libcec.pulse-eight.com/

Package: libcec-dev
Architecture: any
Section: libdevel
Depends: libcec4 (= ${binary:Version}),
         ${misc:Depends}
Description: USB CEC Adaptor communication Library (development files)
 This library provides support for the Pulse-Eight USB-CEC adapter and
 other CEC capable hardware, like the Raspberry Pi.
 .
 This package provides the necessary files needed for development.

Package: libcec4
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Breaks: libcec4v4
Replaces: libcec4v4
Description: USB CEC Adaptor communication Library (shared library)
 This library provides support for the Pulse-Eight USB-CEC adapter and
 other CEC capable hardware, like the Raspberry Pi.
 .
 This package provides the shared library.

Package: cec-utils
Architecture: any
Section: utils
Depends: libcec4 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: USB CEC Adaptor communication Library (utility programs)
 This library provides support for the Pulse-Eight USB-CEC adapter and
 other CEC capable hardware, like the Raspberry Pi.
 .
 This package provides the CEC utility programs.

Package: python-libcec
Architecture: any
Section: python
Depends: libcec4 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
         ${python:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Python bindings for USB CEC Adaptor
 This library provides support for the Pulse-Eight USB-CEC adapter and
 other CEC capable hardware, like the Raspberry Pi.
 .
 This package provides Python bindings for libcec.
