Source:libretro-fceumm
Maintainer: German Ulrich <gerulrich@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 10)

Package:libretro-fceumm
Architecture: any
Depends: retroarch, ${shlibs:Depends}, ${misc:Depends}
Description: Port of FCEUmm / FCEUX to Libretro
 FCEUX is a Nintendo Entertainment System (NES), Famicom, and Famicom Disk System (FDS) emulator.
