Source: mali-fbdev
Maintainer: German Ulrich <gerulrich@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 11)

Package: mali-fbdev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali binary framebuffer driver for ODROID-N2
 Mali binary framebuffer driver for ODROID-N2
