Source: libretro-fbalpha2012-cps2
Maintainer: German Ulrich <gerulrich@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 10)

Package: libretro-fbalpha2012-cps2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, retroarch
Description: libretro-fbalpha2012-cps2
 libretro-fbalpha2012-cps2
