Source: libretro-mame2003
Maintainer: German Ulrich <gerulrich@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 10)

Package: libretro-mame2003
Architecture: any
Depends: retroarch, ${shlibs:Depends}, ${misc:Depends}
Description: Libretro wrapper for mame2003
 MAME as it was in 2003, using the libretro API. Suitable
 for lower-end devices that would struggle to run current
 versions of MAME (later versions of MAME are increasingly
 accurate, thus can perform worse).
 .
 The MAME 2003 core accepts MAME 0.78 ROMsets. Each version
 of an arcade emulator must be used with ROMs that have the
 same exact version number. For example, MAME 0.37b5 ROMsets
 are required by the MAME 2000 emulator, but MAME 0.37b5 sets
 will not work correctly with the MAME 2003 or MAME 2010
 emulator cores. Those cores require MAME 0.78 and MAME 0.139
 ROM sets, respectively.
