Source: kodi-pvr.iptvsimple
Maintainer: German Ulrich <gerulrich@gmail.comg>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 11),
               cmake,
               kodi-addons-dev (>= 4:18~),
               libkodiplatform-dev (>= 20180302~),
               librapidxml-dev,
               zlib1g-dev,
               liblzma-dev,
               libpugixml-dev
Standards-Version: 3.9.7
Homepage: https://github.com/kodi-pvr/pvr.iptvsimple.git

Package: kodi-pvr.iptvsimple
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${kodi:PVRAPI}
Description: IPTV Simple Client Kodi PVR Addon
 IPTV Simple Client is a basic PVR Addon for Kodi to receive IPTV Live TV,
 Radio channels, and EPG directly in Kodi.
 .
 It adds support for Live TV watching and EPG TV Guide through IPTV
 provided by the Internet providers in former USSR countries among others.

