Source: es-theme-system
Maintainer: German Ulrich <gerulrich@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 11)

Package: es-theme-system
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, emulationstation
Description: Theme systems for emulationstation
 Theme systems for emulationstation
