Source: libamcodec
Maintainer: German Ulrich <gerulrich@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 11), libasounbd-dev

Package: libamcodec
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AMLogic VPU Libraries for ODROID-N2
 AMLogic VPU Libraries for ODROID-N2

Package: libamcodec-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libamcodec
Description: development headers for libamcodec for ODROID-N2
 development headers for libamcodec for ODROID-N2
